@import "../styles/variables.scss";
@import "../styles/colors.scss";

$side-width: 350px;

.container {
  margin: $outer-spacing;
  margin-left: 0;
  gap: 2em;

  &.gridLayout {
    display: grid;
    grid-template-columns: auto $side-width;
  }

  &.flexLayout {
    display: flex;
    flex-direction: column;
  }

  .headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      .title {
        font-weight: 500;
        font-size: 1.7em;
      }

      .description {
        font-size: $sub-text-size;
        color: $sub-text;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2em;
    }
  }
}
