$bg-primary: #f3f3f7;
$bg-primary-alt: #f8f8fa;
$bg-secondary: #fdfdfd;
$bg-input: #EBEAF3;

$accent: #ECDFF6;
$text: #454357;
$sub-text: #AAAAAB;
$text-accent: #A36DC0;

$warning: #FEBB55;
$info: #57CEFF;
